.tool {
	color: #09b109;
}
.resource {
	color: #dda00c;
}
.queue {
	color: #0c6b8a;
}
h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

ul.nav .active {
	border-bottom: 3px #fff solid;
}

.jumbotron.top {
	margin-top: 100px;
	margin-bottom: 0px;
	background-image: url(../img/jumbotronbackground.jpg);
	background-position: 0% 25%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: white;
	height: 400px;
}

.jumbotron.top h1 {
	font-family: 'Shadows Into Light', cursive;
	color: #0c6b8a;
	text-shadow: #fff 0px 0px 8px;
	font-size: 5em;
}

.jumbotron.top p {
	font-family: 'Open Sans', sans-serif;
	color: #DAE9EE;
	text-shadow: #ddd 1px 1px 0.1em;
}

.jumbotron.top .links {
	margin-top: 40px;
}

.jumbotron .btn {
	background: none;
	border: 2px #fff solid;
	color: #fff;
	width: 190px;
	margin: 5px 20px;
	padding: 10px;
	font-size: 1.em;
}

.jumbotron .btn:hover {
	background: rgba(255, 255, 255, 0.2);
}

.jumbotron.sub {
	background-color: #277D99;
	color: #DAE9EE;
	text-shadow: #000 1px 1px 2px;
	font-family: 'Open Sans', sans-serif;
}

.feature .icon {
	float: left;
}
.feature .description {
	margin-left: 105px;
}
.feature h4 {
	font-weight: bold;
	text-decoration: underline;
}

footer {
  height: 60px;
  background-color: #f5f5f5;
}
footer .text-muted {
	margin: 20px 0;
}