body {
	background-color: #ADADAD;
}

.growl-container {
	clear: both;
	margin-top: 50px;
}

.container {
	margin-top: 60px;
}

.main {
	border: #000000 solid 3px;
	background-color: #fff;
	border-radius: 2em;
}

.sidebar {
	height: 100% !important;
	min-height: 100%;
	padding: 0;
}

.sidebar.fixed {
	position: fixed;
}

.sidebar button {
	padding: 10px 12px;	
}

.sidebar button.disabled {
	background-color: #ffffff;
	color: #000;	
	font-weight: bold;
	text-shadow: none;
	text-decoration: underline;
}

.sidebar > .btn-group-vertical > button:first-child:not(:last-child) {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.sidebar > .btn-group-vertical > button:last-child:not(:first-child) {
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.sidebar > li > a {
	padding: 0;
	border: #444444 solid 3px;
	border-right: 0px;
	background-color: #444444;
	color: #ffffff;
}

td.running {
	color: #00B800;
}
td.paused {
	color: #CC9900;
}
td.quit {
	color: #888888;
}
td.created {
	color: #337ab7;
}

.job-progress, .job-cracked {
	border: 1px solid #adadad;
	height: 22px;
	margin: 0;
}

footer {
	background-color: #cccccc;
}
footer p.license {
	font-size: .8em;
	width: 300px;
}