		<div class="slider">
			<div class="row">
				<div class="col-sm-4">
					<canvas id="job-chart-hps" class="chart chart-line" data="line.data" labels="line.labels" legend="true" series="line.series" colours="line.colors" options="line.options"> </canvas> 
				</div>
				<div class="col-sm-4">
					<canvas id="job-chart-progress" class="chart chart-doughnut" data="donut.data" labels="donut.labels" colours="donut.colors" legend="true"></canvas>
				</div>
				<div class="col-sm-4">
					<div><b><i class="fa fa-server"></i> Resource</b>:<br>McAtee's Massive Magical Manipulator</div>
					<hr>
					<div><b><i class="fa fa-wrench"></i> Tool</b>:<br>oclHashcat - 1.2.12 </div>
					<table class="table table-condensed tool-options">
						<thead>
							<th>Option</th>
							<th>Value</th>
						</thead>
						<tbody>
							<tr ng-repeat="(key, value) in detail.params">
								<td>{{key}}</td>
								<td>{{value | limitTo: 30}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<hr class="tall">
					<h4>Results:</h4>
					<table class="table table-striped table-condensed job-output">
						<thead>
							<th ng-repeat="title in detail.outputtitles">{{title}}</th>
						</thead>
						<tbody>
							<tr ng-repeat="row in detail.outputdata">
								<td ng-repeat="cell in row">{{cell}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>