<div class="row">
	<div class="col-sm-6">
		<canvas id="job-chart-hps" class="chart chart-line" data="data" labels="labels" legend="true" series="series"> </canvas> 
	</div>
	<div class="col-sm-6">
		<canvas id="job-chart-progress" class="chart chart-doughnut" data="data" labels="labels"></canvas>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<table>
			<thead>
				<th>Hash</th>
				<th>Cleartext</th>
			</thead>
			<tbody>
				<tr>
					<td>blahblahblah</td>
					<td>cleartext</td>
				</tr>
				<tr>
					<td>blahblahblah</td>
					<td>cleartext</td>
				</tr>
				<tr>
					<td>blahblahblah</td>
					<td>cleartext</td>
				</tr>
				<tr>
					<td>blahblahblah</td>
					<td>cleartext</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-4">
		<span class="label">Resource</span>: {{job.resource}} <br>
		<span class="label">Tool</span>: {{job.tool}} <br>
		<span class="label">Options:</span>
		<table>
			<thead>
				<th>Option</th>
				<th>Value</th>
			</thead>
			<tbody>
				<tr>
					<td>Key</td>
					<td>Value</td>
				</tr>
				<tr>
					<td>Key</td>
					<td>Value</td>
				</tr>
				<tr>
					<td>Key</td>
					<td>Value</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
