<div class="row" ng-controller="JobsController">
	<div class="col-md-1 sidebar fixed">
		<div class="btn-group-vertical" role="group">
			<button class="btn btn-default disabled">Actions</button>
			<a class="btn btn-primary" ng-if="isAuthorized([userRoles.standard, userRoles.admin])" ui-sref="createjob.tools"><i class="fa fa-2x fa-plus"></i><br> <div class="btnwrd">Add New</div></a>
			<button class="btn btn-primary" ng-click="reloadJobs()"><i class="fa fa-2x fa-refresh"></i><br> <div class="btnwrd">Refresh</div></button>
			<button class="btn btn-default disabled" ng-show="listreordered">Confirm<br>Reorder</button>
			<button class="btn btn-success" ng-show="listreordered"><i class="fa fa-2x fa-thumbs-up"></i><br><div class="btnwrd">Confirm</div></button>
			<button class="btn btn-warning" ng-click="reorderCancel()" ng-show="listreordered"><i class="fa fa-2x fa-thumbs-down"></i><br><div class="btnwrd">Cancel</div></button>
			<button class="btn btn-default disabled"> </button>
  		</div>
	</div>
	<div class="col-md-11 col-md-offset-1 main">
		<h1 class="page-header"><i class="fa fa-stack-overflow"></i>Job Management</h1>
		<h2 class="page-header">Current Queue</h2>
		<div class="">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="">&nbsp;</th>
						<th class="">Name</th>
						<th class="">Owner</th>
						<th class="">Status</th>
						<th class="">Time Running</th>
						<th class="">Cracked</th>
						<th class=""></th>
					</tr>
				</thead>
				<tbody id="#joblistcontainer" ui-sortable="sortableOptions" ng-model="jobs">
					<tr ng-repeat-start="job in jobs | filter: {status: '!quit'} | filter: {status: '!failed'}" ng-class="$index % 2 ? 'odd' : 'even'">
						<td class="collapser">
							<a ng-if="job.expanded" ng-click="job.expanded = false" aria-label="detail"><i class="fa fa-minus fa-1x"></i></a>
							<a ng-if="!job.expanded" ng-click="job.expanded = true" aria-label="detail"><i class="fa fa-plus fa-1x"></i></a>
						</td>
						<td class="name">{{job.name}}</td>
						<td class="owner">{{job.owner}}</td>
						<td class="status {{job.status}}">{{job.status}}</td>
						<td class="time">{{now - job.starttime}}</td>
						<td class="">
							<div class="progress job-cracked">
								<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{job.crackedhashes}}" aria-valuemin="0" aria-valuemax="{{job.totalhashes}}" style="width: {{job.totalhashes / job.crackedhashes}}%">
								</div>
								<span>{{job.crackedhashes}}/{{job.totalhashes}}</span>
							</div>
						</td>
						<td>
							<div class="btn-group btn-group-xs" role="group" aria-label="...">
								<jobplaybutton></jobplaybutton>	
								<button ng-if="isAuthorized([userRoles.standard, userRoles.admin])" ng-click="jobactions.update(job, 'paused')" ng-class="job.status == 'running' || job.status == 'created' ? 'btn-warning' : 'btn-default disabled'" aria-label="pause" type="button" class="btn"><i class="fa fa-pause"></i></button>
								<button ng-if="isAuthorized([userRoles.standard, userRoles.admin])" confirm-popover="jobactions.update(job, 'quit')" aria-label="stop" type="button" class="btn btn-danger"><i class="fa fa-stop"></i></button>
								<button ng-if="isAuthorized([userRoles.standard, userRoles.admin])" confirm-popover="jobactions.delete(job)" aria-label="delete" type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
								<div ng-if="isAuthorized([userRoles.standard, userRoles.admin])" class="btn btn-primary draghandle"><i class="fa fa-arrows-v"></i></div>
							</div>
						</td>
					</tr>
					<tr ng-repeat-end ng-if="job.expanded" class="job-detail">
						<td colspan=9>
							<div class="slider text-center">
								<i class="fa fa-spinner fa-pulse fa-4x"></i>
								<ng-include src="'components/Jobs/jobsViewDetail.html'"></ng-include>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h2 class="page-header">Completed / Stopped Jobs</h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="">&nbsp;</th>
						<th class="">Name</th>
						<th class="">Owner</th>
						<th class="">Status</th>
						<th class="">Cracked</th>
						<th class=""></th>
					</tr>
				</thead>
				<tbody id="#completedcontainer">
					<tr ng-repeat-start="job in jobs | filter: {status: '!running'} | filter: {status: '!paused'} | filter: {status: '!created'}" ng-class="$index % 2 ? 'odd' : 'even'">
						<td class="collapser">
							<a ng-if="job.expanded" ng-click="job.expanded = false" aria-label="detail"><i class="fa fa-minus fa-1x"></i></a>
							<a ng-if="!job.expanded" ng-click="job.expanded = true" aria-label="detail"><i class="fa fa-plus fa-1x"></i></a>
						</td>
						<td class="name">{{job.name}}</td>
						<td class="owner">{{job.owner}}</td>

						<td class="status {{job.status}}">{{job.status}}</td>
						<td class="">
							<div class="progress job-cracked">
								<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{job.crackedhashes}}" aria-valuemin="0" aria-valuemax="{{job.totalhashes}}" style="width: {{job.totalhashes / job.crackedhashes}}%">
								</div>
								<span>{{job.crackedhashes}}/{{job.totalhashes}}</span>
							</div>
						</td>
						<td><button ng-if="isAuthorized([userRoles.standard, userRoles.admin])" confirm-popover="jobactions.delete(job)" aria-label="delete" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button></td>
					</tr>
					<tr ng-repeat-end ng-if="job.expanded" class="job-detail">
						<td colspan=9><div class="slider text-center">
							<i class="fa fa-spinner fa-pulse fa-4x"></i>
						</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
