<div class="row" ng-controller="ConnectResourceController">
	<div ng-if="displayWait" class="blackout">
		<div class="spinnercontainer">
			<div class="spinner"><i class="fa fa-server fa-5x"></i></div>
			<div class="message">Please wait while connecting...</div>
		</div>
	</div>
	<div class="col-sm-8 col-sm-offset-2">
		<div id="form-container">
			<div class="page-header text-center">
				<h2>Connect to Resource</h2>
				<h3>{{manager.name}}</h3>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<form id="connectresource" sf-schema="manager.schema" sf-form="manager.form" sf-model="formData">
					</form>
					<div class="form-group row">
						<div class="col-xs-3 pull-left">
							<a class="btn btn-block btn-danger" ui-sref="resources"><i class="fa fa-times"></i> Cancel</a>
						</div>
						<div class="col-xs-3 pull-right">
							<a class="btn btn-block btn-success" ng-click="processResourceConnectForm()"><i class="fa fa-link"></i> Connect</a>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>