<div class="row" ng-controller="ResourcesController">
	<div class="col-md-12 main">
		<div class="col-md-5 pull-right button-tray"> 
			<div class="btn-group pull-right" role="group">
				<button class="btn btn-primary dropdown-toggle" ng-if="user.checkrole([user.allroles.admin])"><i class="fa fa-link"></i> Connect <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li ng-repeat="mgr in managers">
						<a ui-sref="connectresource({manager: {{mgr.id}}})">{{mgr.name}}</a>
					</li>
				</ul>
			</div>
			<reloadbutton datareload="loadServers()"></reloadbutton>
		</div>
		<h1 class="page-header"><i class="fa fa-server"></i> Resources Connected</h1>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="">Name</th>
						<th class="">Address</th>
						<th class="">Status</th>
						<th class=""></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="res in resources" style="background-color: rgb({{res.color.r}}, {{res.color.g}}, {{res.color.b}});">
						<td class="name">{{res.name}}</td>
						<td class="address">{{res.address}}</td>
						<td class="status {{res.status}}">{{res.status}}</td>
						<td>
							<div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
								<playbutton ng-if="res.status != 'quit'" target="res"></playbutton>
								<stopbutton ng-if="res.status != 'quit'" target="res"></stopbutton>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>