<div class="slider">
	<div class="row detail-overview">
		<div class="col-sm-8">
			<canvas id="job-chart-hps" class="chart chart-line" width="700" height="260" data="line.data" labels="line.labels" legend="true" series="line.series" colours="line.colors" options="line.options"> </canvas> 
		</div>
		<div class="col-sm-4">
			<div><b><i class="fa fa-server"></i> Resource</b>: {{resource.name || 'Unknown / Unassigned'}}</div>
			<div><b><i class="fa fa-wrench"></i> Tool</b>: {{tool.name}} - {{tool.version}}</div>
			<hr>
			<canvas id="job-chart-progress" class="chart chart-doughnut" data="donut.data" labels="donut.labels" colours="donut.colors" options="donut.options" legend="true"></canvas>
		</div>
		<div class="modal fade" id="parameters-{{jobid}}" tabindex="-1" role="dialog" aria-labelledby="paramsModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="paramsModalLabel">Job Parameters</h4>
		      </div>
		      <div class="modal-body">
					<table class="table table-condensed tool-options">
						<thead>
							<th>Option</th>
							<th>Value</th>
						</thead>
						<tbody>
							<tr ng-repeat="(key, value) in detail.params">
								<td>{{key}}</td>
								<td>{{value}}</td>
							</tr>
						</tbody>
					</table>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="row">
		<hr class="tall">
		<div class="col-sm-6">
			<h4>Results:</h4>
		</div>
		<div class="job-actions pull-right">
			<div class="btn-group btn-group-xs">
				<button class="btn btn-default disabled"><b>Export:</b></button>	
				<button type="button" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="Export to CSV" tooltip ng-csv="detail.outputdata" csv-header="detail.outputtitles" filename="{{detail.name}}.csv"><i class="fa fa-file-excel-o"></i></button>
			</div>
		</div>
		<div class="job-actions pull-right">
			<div class="btn-group btn-group-xs">
				<button class="btn btn-default disabled"><b>Actions:</b></button>	
				<span data-toggle="modal" data-target="#parameters-{{jobid}}">
					<button type="button" class="btn btn-primary btn-xs" tooltip data-toggle="tooltip" data-placement="top" title="View Submitted Parameters"><i class="fa fa-cogs"></i></button>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="job-output-container">
				<table class="table table-striped table-condensed job-output">
					<thead>
						<tr>
							<th ng-repeat="title in detail.outputtitles">{{title}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-hide="detail.outputdata.length">
							<td colspan={{detail.outputtitles.length}}>No results at this time.</td>
						</tr>
						<tr ng-repeat="row in detail.outputdata">
							<td ng-repeat="cell in row">{{cell}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>