<div class="btn-group">
	<button class="btn btn-default disabled btn-label">Reorder</button>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
		<span class="sr-only">Toggle</span>
	</button>
	<ul class="dropdown-menu" roles="menu">
		<li><a ng-click="reorderConfirm()" class="btn-confirm"><i class="fa fa-thumbs-up"></i> Confirm</a></li>
		<li><a ng-click="reorderCancel()" class="btn-cancel"><i class="fa fa-thumbs-down"></i> Cancel</a></li>
	</ul>
</div>