<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div id="form-container">
			<div class="page-header text-center">
				<h2>Create New</h2>
				<div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".tools"><span>1</span> Tools</a>
                <a ui-sref-active="active" ui-sref=".details"><span>2</span> Job Details</a>
            </div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<div id="createjob-views" ui-view></div>
				</div>
			</div>
		</div>
	</div>
</div>